<div class="wrapper">
  <div class="top-left-pattern">
    <svg width="400" height="400">
      <use xlink:href="#frame-1" />
      <use xlink:href="#frame-2" />
      <use xlink:href="#frame-3" />
      <use xlink:href="#frame-4" />
      <use xlink:href="#frame-5" />
      <use xlink:href="#frame-6" />
      <use xlink:href="#frame-7" />
      <use xlink:href="#frame-8" />
      <use xlink:href="#frame-9" />
    </svg>
  </div>
  <div class="container">
    <div class="box wit-password">
      <span>mae</span>
      <span>margret</span>
      <span>ada</span>
    </div>
    <div class="box wit-details">
      <div class="wit-image-container">
        <img width="100%" src="https://upload.wikimedia.org/wikipedia/commons/5/55/Mae_Carol_Jemison.jpg" />
      </div>
      <div class="wit-bio">
        <span class="first-word">Mae</span> Carol Jemison ist eine US-amerikanische Ärztin und ehemalige Astronautin.
        Ihr Flug mit der Endeavour (Raumfähre) am 12. September 1992 machte sie zur ersten Afroamerikanerin im All.
      </div>
    </div>
    <div class="box btn-container">
      <button type="button">Generate</button>
      <button type="button">Copy</button>
    </div>
  </div>

</div>
<svg xmlns="http://www.w3.org/2000/svg" style="display: none">
  <symbol id="frame-1" viewBox="0 0 400 400">
    <circle cx="20" cy="20" r="20" />
    <circle cx="20" cy="61" r="20" />
    <circle cx="20" cy="102" r="20" />
    <circle cx="20" cy="143" r="20" />
    <circle cx="20" cy="186" r="18" />
    <circle cx="20" cy="227" r="18" />
    <circle cx="20" cy="268" r="18" />
    <circle cx="20" cy="309" r="15" />
    <circle cx="20" cy="350" r="10" />
    <circle cx="20" cy="391" r="8" />

    <circle cy="20" cx="61" r="20" />
    <circle cy="20" cx="102" r="20" />
    <circle cy="20" cx="143" r="20" />
    <circle cy="20" cx="186" r="18" />
    <circle cy="20" cx="227" r="18" />
    <circle cy="20" cx="268" r="18" />
    <circle cy="20" cx="309" r="15" />
    <circle cy="20" cx="350" r="10" />
    <circle cy="20" cx="391" r="8" />
  </symbol>

  <symbol id="frame-2" viewBox="0 0 400 400">
    <circle cx="61" cy="61" r="20" />
    <circle cx="61" cy="102" r="20" />
    <circle cx="61" cy="143" r="20" />
    <circle cx="61" cy="186" r="18" />
    <circle cx="61" cy="227" r="18" />
    <circle cx="61" cy="268" r="18" />
    <circle cx="61" cy="309" r="15" />
    <circle cx="61" cy="350" r="10" />
    <circle cx="61" cy="391" r="8" />

    <circle cy="61" cx="102" r="20" />
    <circle cy="61" cx="143" r="20" />
    <circle cy="61" cx="186" r="18" />
    <circle cy="61" cx="227" r="18" />
    <circle cy="61" cx="268" r="18" />
    <circle cy="61" cx="309" r="15" />
    <circle cy="61" cx="350" r="10" />
    <circle cy="61" cx="391" r="8" />
  </symbol>
  <symbol id="frame-3" viewBox="0 0 400 400">
    <circle cx="102" cy="102" r="20" />
    <circle cx="102" cy="143" r="20" />
    <circle cx="102" cy="186" r="18" />
    <circle cx="102" cy="227" r="18" />
    <circle cx="102" cy="268" r="18" />
    <circle cx="102" cy="309" r="15" />
    <circle cx="102" cy="350" r="10" />
    <circle cx="102" cy="391" r="8" />

    <circle cy="102" cx="143" r="20" />
    <circle cy="102" cx="186" r="18" />
    <circle cy="102" cx="227" r="18" />
    <circle cy="102" cx="268" r="18" />
    <circle cy="102" cx="309" r="15" />
    <circle cy="102" cx="350" r="10" />
    <circle cy="102" cx="391" r="8" />
  </symbol>

  <symbol id="frame-4" viewBox="0 0 400 400">
    <circle cx="143" cy="143" r="20" />
    <circle cx="143" cy="186" r="18" />
    <circle cx="143" cy="227" r="18" />
    <circle cx="143" cy="268" r="18" />
    <circle cx="143" cy="309" r="15" />
    <circle cx="143" cy="350" r="10" />
    <circle cx="143" cy="391" r="8" />

    <circle cy="143" cx="186" r="18" />
    <circle cy="143" cx="227" r="18" />
    <circle cy="143" cx="268" r="18" />
    <circle cy="143" cx="309" r="15" />
    <circle cy="143" cx="350" r="10" />
    <circle cy="143" cx="391" r="8" />
  </symbol>
  <symbol id="frame-5" viewBox="0 0 400 400">
    <circle cx="186" cy="186" r="18" />
    <circle cx="186" cy="227" r="18" />
    <circle cx="186" cy="268" r="18" />
    <circle cx="186" cy="309" r="15" />
    <circle cx="186" cy="350" r="10" />
    <circle cx="186" cy="391" r="8" />

    <circle cy="186" cx="227" r="18" />
    <circle cy="186" cx="268" r="18" />
    <circle cy="186" cx="309" r="15" />
    <circle cy="186" cx="350" r="10" />
    <circle cy="186" cx="391" r="8" />
  </symbol>
  <symbol id="frame-6" viewBox="0 0 400 400">
    <circle cx="227" cy="227" r="18" />
    <circle cx="227" cy="268" r="18" />
    <circle cx="227" cy="309" r="15" />
    <circle cx="227" cy="350" r="10" />
    <circle cx="227" cy="391" r="8" />

    <circle cy="227" cx="268" r="18" />
    <circle cy="227" cx="309" r="15" />
    <circle cy="227" cx="350" r="10" />
    <circle cy="227" cx="391" r="8" />
  </symbol>
  <symbol id="frame-7" viewBox="0 0 400 400">
    <circle cx="268" cy="268" r="18" />
    <circle cx="268" cy="309" r="15" />
    <circle cx="268" cy="350" r="10" />
    <circle cx="268" cy="391" r="8" />

    <circle cy="268" cx="309" r="15" />
    <circle cy="268" cx="350" r="10" />
    <circle cy="268" cx="391" r="8" />
  </symbol>
  <symbol id="frame-8" viewBox="0 0 400 400">
    <circle cx="309" cy="309" r="15" />
    <circle cx="309" cy="350" r="10" />
    <circle cx="309" cy="391" r="8" />

    <circle cy="309" cx="350" r="10" />
    <circle cy="309" cx="391" r="8" />
  </symbol>
  <symbol id="frame-9" viewBox="0 0 400 400">
    <circle cx="350" cy="350" r="10" />
    <circle cx="350" cy="391" r="8" />
    <circle cy="350" cx="391" r="8" />
  </symbol>
</svg>